#snakes img {
  float: left;
}

#snakes {
    display: none;
}

#turtles {
  display: none;
}

#insects {
  display: none;
}

.col-md-4 img {
  width: 70%;
  float: left;
  margin-right:5px;
}

p {
  margin-bottom:10px;
}
